/* Tag Selector */

img{

    border: solid 1px #777;
}

/* Class Selector */

.tutorial{
    border: solid 1px #777;
}

/* ID Selector */

#tutorial-1{

background-color: #eee;
}

/* Attribute Seector */

img[src ="https://via.placeholder.com/150"] {

    border: solid 3px #39f;
}

/* Lists Selector - when you want target 1 or more element*/

.tutorial,
h1 {
    border: solid 1px #ccc;
}

/* Target children elements  - Combined Selector*/
.tutorial > p {
    font-size: 1.5em;
}

/* Display Property */
h1 {

    display: inline;
    width: 100px;
    border: solid 1px rgb(240, 1, 1);
}